<div class="main">
    <div class="vertical left">
        <span class="glyphicon glyphicon-chevron-left" ng-click='switchView("")'></span>
    </div>
    <div class="horizontal top">
        <span class="glyphicon glyphicon-user" ng-click='switchView("user")'></span>
    </div>
    <center>
        <img src="assets/logo_light.png" alt="Perche Trek"/>
    </center>
    <div class="horizontal bottom">
        <span class="glyphicon glyphicon-map-marker" ng-click='switchView("map")'></span>
    </div>
</div>
