<div class="main">
    <div class="vertical left">
        <span class="glyphicon glyphicon-chevron-left" ng-click='switchView("")'></span>
    </div>
    <div class="horizontal top">
        <span class="glyphicon glyphicon-user" ng-click='switchView("user")'></span>
    </div>
    <div class="container">
        <h1>Take a cycle</h1>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img class="img-thumbnail" src="assets/bg.jpg" alt="An awesome walk" style='max-width:100%;'/>
                    <div class="caption">
                        <h3 class="text-center">Le tour de la Loupe</h3>
                        <p class="text-center">20km - 1h - Beau temps</p>
                        <p>
                            <a ng-click='switchView("map")' class="btn btn-green btn-block">
                                <span class="glyphicon glyphicon-play"></span>&nbsp;Consulter ce parcours</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img class="img-thumbnail" src="assets/bg.jpg" alt="An awesome walk" style='max-width:100%;'/>
                    <div class="caption">
                        <h3 class="text-center">La découverte de Trouperdu</h3>
                        <p class="text-center">40km - 2h - Pluvieux</p>
                        <p>
                            <a ng-click='switchView("map")' class="btn btn-green btn-block">
                                <span class="glyphicon glyphicon-play"></span>&nbsp;Consulter ce parcours</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img class="img-thumbnail" src="assets/bg.jpg" alt="An awesome walk" style='max-width:100%;'/>
                    <div class="caption">
                        <h3 class="text-center">Le mont Tagne</h3>
                        <p class="text-center">50km - 2h30 - Nuageux</p>
                        <p>
                            <a ng-click='switchView("map")' class="btn btn-green btn-block">
                                <span class="glyphicon glyphicon-play"></span>&nbsp;Consulter ce parcours</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img class="img-thumbnail" src="assets/bg.jpg" alt="An awesome walk" style='max-width:100%;'/>
                    <div class="caption">
                        <h3 class="text-center">La grotte sombre</h3>
                        <p class="text-center">50km - 2h30mn - Beau temps</p>
                        <p>
                            <a ng-click='switchView("map")' class="btn btn-green btn-block">
                                <span class="glyphicon glyphicon-play"></span>&nbsp;Consulter ce parcours</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img class="img-thumbnail" src="assets/bg.jpg" alt="An awesome walk" style='max-width:100%;'/>
                    <div class="caption">
                        <h3 class="text-center">Shopping à Chartres</h3>
                        <p class="text-center">30km - 2h - Beau temps - 150 €</p>
                        <p>
                            <a ng-click='switchView("map")' class="btn btn-green btn-block">
                                <span class="glyphicon glyphicon-play"></span>&nbsp;Consulter ce parcours</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img class="img-thumbnail" src="assets/bg.jpg" alt="An awesome walk" style='max-width:100%;'/>
                    <div class="caption">
                        <h3 class="text-center">McDo Drive de Nogent</h3>
                        <p class="text-center">200m - 2mn - Gras</p>
                        <p>
                            <a ng-click='switchView("map")' class="btn btn-green btn-block">
                                <span class="glyphicon glyphicon-play"></span>&nbsp;Consulter ce parcours</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="horizontal bottom">
        <span class="glyphicon glyphicon-map-marker" ng-click='switchView("map")'></span>
    </div>
</div>
