<div class="main">
    <div class="vertical left">
        <i class="fa fa-street-view" ng-click='switchView("hiking")'></i>
    </div>
    <div class="horizontal top">
        <span class="glyphicon glyphicon-user" ng-click='switchView("user")'></span>
    </div>
    <ng-include src="'views/smallerLogo.html'"></ng-include>
    <div class="container">
        <h1>Take a cycle</h1>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img class="img-thumbnail" src="assets/bg.jpg" alt="An awesome walk" style='max-width:100%;'/>
                    <div class="caption">
                        <h3 class="text-center">Le tour de la Loupe</h3>
                        <p class="text-center">20km - 1h - Beau temps</p>
                        <p>
                            <a ng-click='setTrek(0)' class="btn btn-green btn-block">
                                <span class="glyphicon glyphicon-play"></span>&nbsp;Consulter ce parcours</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img class="img-thumbnail" src="assets/bg.jpg" alt="An awesome walk" style='max-width:100%;'/>
                    <div class="caption">
                        <h3 class="text-center">La découverte de Trouperdu</h3>
                        <p class="text-center">40km - 2h - Pluvieux</p>
                        <p>
                            <a ng-click='setTrek(1)' class="btn btn-green btn-block">
                                <span class="glyphicon glyphicon-play"></span>&nbsp;Consulter ce parcours</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="hidden-xs hidden-sm col-md-4">
                <div class="thumbnail">
                    <img class="img-thumbnail" src="assets/bg.jpg" alt="An awesome walk" style='max-width:100%;'/>
                    <div class="caption">
                        <h3 class="text-center">Le mont Tagne</h3>
                        <p class="text-center">50km - 2h30 - Nuageux</p>
                        <p>
                            <a ng-click='setTrek(2)' class="btn btn-green btn-block">
                                <span class="glyphicon glyphicon-play"></span>&nbsp;Consulter ce parcours</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 visible-lg">
                <div class="thumbnail">
                    <img class="img-thumbnail" src="assets/bg.jpg" alt="An awesome walk" style='max-width:100%;'/>
                    <div class="caption">
                        <h3 class="text-center">La grotte sombre</h3>
                        <p class="text-center">50km - 2h30mn - Beau temps</p>
                        <p>
                            <a ng-click='setTrek(3)' class="btn btn-green btn-block">
                                <span class="glyphicon glyphicon-play"></span>&nbsp;Consulter ce parcours</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 visible-lg">
                <div class="thumbnail">
                    <img class="img-thumbnail" src="assets/bg.jpg" alt="An awesome walk" style='max-width:100%;'/>
                    <div class="caption">
                        <h3 class="text-center">Shopping à Chartres</h3>
                        <p class="text-center">30km - 2h - Beau temps - 150 €</p>
                        <p>
                            <a ng-click='setTrek(4)' class="btn btn-green btn-block">
                                <span class="glyphicon glyphicon-play"></span>&nbsp;Consulter ce parcours</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 visible-lg">
                <div class="thumbnail">
                    <img class="img-thumbnail" src="assets/bg.jpg" alt="An awesome walk" style='max-width:100%;'/>
                    <div class="caption">
                        <h3 class="text-center">McDo Drive de Nogent</h3>
                        <p class="text-center">200m - 2mn - Gras</p>
                        <p>
                            <a ng-click='setTrek(5)' class="btn btn-green btn-block">
                                <span class="glyphicon glyphicon-play"></span>&nbsp;Consulter ce parcours</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="horizontal bottom">
        <span class="glyphicon glyphicon-map-marker" ng-click='switchView("map")'></span>
    </div>
    <div class="vertical right">
        <span class="glyphicon glyphicon-home" ng-click='switchView("")'></span>
    </div>
</div>
