<div class="main">
    <div class="vertical left">
        <i class="fa fa-street-view" ng-click='switchView("hiking")'></i>
    </div>
    <div class="horizontal top">
        <span class="glyphicon glyphicon-user" ng-click='switchView("user")'></span>
    </div>
    <div class="notauth" ng-hide='auth'>
        <div class="alert alert-warning">
            Pour bénéficier de tous nos supers services <a href="#/user">inscrivez vous</a> !
        </div>
    </div>
    <center>
        <img src="assets/logo_light.png" alt="Perche Trek"/>
    </center>
    <div class="horizontal bottom">
        <span class="glyphicon glyphicon-map-marker" ng-click='switchView("map")'></span>
    </div>
    <div class="vertical right">
        <i class="fa fa-bicycle" ng-click='switchView("biking")'></i>
    </div>
</div>
