<div class="main">
    <div class="vertical left">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </div>
    <div class="horizontal top">
        <span class="glyphicon glyphicon-user"></span>
    </div>
    <center>
        <img src="assets/logo_light.png" alt="Perche Trek"/>
    </center>
    <div class="horizontal bottom">
        <span class="glyphicon glyphicon-map-marker"></span>
    </div>
    <div class="vertical right">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </div>
</div>
