<div class="main">
    <div class="vertical left">
        <i class="fa fa-street-view" ng-click='switchView("hiking")'></i>
    </div>
    <div class="horizontal top">
        <span class="glyphicon glyphicon-home" ng-click='switchView("")'></span>
    </div>
    <ng-include src="'views/smallerLogo.html'"></ng-include>
    <center class="user">

        <div class="sign" ng-show="viewCount == 1">
            <label>Votre e-mail</label>
            <input type="email" class="mail form-control" placeholder="Entrez votre email ici" ng-model="data.email">
            <p class="msgErr" ng-show="mailOk == 1">E-mail non valide</p>
            <p class="msgErr" ng-show="mailOk != 1">&nbsp;</p>
            <label>Votre mot de passe</label>
            <input type="password" class="password form-control" placeholder="Mot de passe" ng-model="data.password">
            <p class="msgErr" ng-show="passwordOk == 1">Mot de passe non valide</p>
            <p class="msgErr" ng-show="passwordOk != 1">&nbsp;</p>
            <button class="btn btn-white" ng-click="add()">C'est parti !</button>
        </div>

        <div class="profile" ng-show="viewCount == 2">
            <h1>{{user.email}}</h1>

            <div class="reward-hike">
                <i class="hike0 fa fa-street-view"><span>Vos realisations a pieds</span></i>
                <img class="img-circle hike1" src="assets/unicorn.png" />
                <img class="img-circle hike2" src="assets/unicorn.png" />
                <img class="img-circle hike3" src="assets/unicorn.png" />
                <img class="img-circle hike4" src="assets/unicorn.png" />
                <img class="img-circle hike5" src="assets/unicorn.png" />
                <img class="img-circle hike6" src="assets/unicorn.png" />
            </div>

            <div class="reward-bike">
                <i class="bike0 fa fa-bicycle"><span>Vos realisations a vélo</span></i>
                <img class="img-circle bike1" src="assets/unicorn.png" />
                <img class="img-circle bike2" src="assets/unicorn.png" />
                <img class="img-circle bike3" src="assets/unicorn.png" />
                <img class="img-circle bike4" src="assets/unicorn.png" />
                <img class="img-circle bike5" src="assets/unicorn.png" />
                <img class="img-circle bike6" src="assets/unicorn.png" />
            </div>
        </div>
    </center>

    <div class="horizontal bottom">
        <span class="glyphicon glyphicon-map-marker" ng-click='switchView("map")'></span>
    </div>
    <div class="vertical right">
        <i class="fa fa-bicycle" ng-click='switchView("biking")'></i>
    </div>
</div>
