@font-face {
    font-family: StarTrek;
    src: url('../fonts/Federation.ttf');
}
html {
    background-color: #27ae60;
    background-image: url('../assets/TOILE.png');
    background-size:cover;
    background-repeat: no-repeat;
}
.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.main center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    max-width: 33.33%;
}
.main center img {
    max-width: 100%;
    max-height: 80%;
}
h1 {
    font-family: StarTrek;
    color: #ffffff;
    font-size: 36pt;
    font-weight: bolder;
}
h2 {
    font-family: StarTrek;
    color: #ffffff;
    font-size: 28pt;
}
.btn-green {
    background-color: #27ae60;
    color:#fff;
}
.btn-green:hover {
    color:#fff;
}
.main .container {
    position: absolute;
    left:50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 66.66%;
}
.vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10vh;
    color: #ffffff;
    max-width: 33.33%;
    text-shadow: #000000 1px 0 10px;
}
.vertical.right {
    right: 0;
}
.vertical.left {
    left: 0;
}
.horizontal {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    font-size: 5vw;
    color: #ffffff;
    max-height: 33.33%;
    text-shadow: #000000 1px 0 10px;
}
.horizontal.bottom {
    bottom: 0;
}
.horizontal.top {
    top: 0;
}
.vertical .glyphicon, .horizontal .glyphicon {
    cursor: pointer;
}
.vertical .glyphicon:hover, .horizontal .glyphicon:hover {
    color:pink;
}
.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}
.ng-enter.ng-enter-active {
  opacity:1;
}
